@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>   
    <p>En este proyecto puede encontrar la documentacion del proyecto dependiente de Microservicios</p>
    <p>
        La documentacion original se encuentra en el repositorio:
        <a href="https://github.com/mariobot/microservices" target="_blank">https://github.com/mariobot/microservices</a>
    </p>
</div>
